[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
factory_boy ='*'
faker ='*'
isort = "*"
black = "==19.10b0"
bumpversion = "*"

[packages]
kubernetes ="*"
django ="*"
psycopg2-binary ="*"
django_extensions ='*'
drf-yasg = "*"
djangorestframework = "*"
sphinx_rtd_theme = "*"
Sphinx ="*"
sphinxcontrib-openapi = "*"
sphinxcontrib-httpdomain ='*'

[requires]
python_version = "3"
